*{
 padding: 0px;
 box-sizing: border-box;
 margin:0px;   
}

section{
    display: grid;
    grid-template-columns: auto auto auto;
    min-width: 100%;
    padding: 20px;
    min-height: 735px;
    background-color: bisque;
    gap: 30px;

}

section div{

    padding: 20px;
    min-height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

section div:nth-child(1){
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(https://www.shutterstock.com/image-vector/special-offer-banner-vector-template-260nw-2474802375.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


section div:nth-child(2){
    background-color: rgb(81, 136, 255);
    grid-row: 2/ span 2;
    grid-column: 2/3;
    
}

section div:nth-child(3){
    background-color: rgb(103, 255, 176);
}

section div:nth-child(4){
    background-color: rgb(210, 143, 252);
}

section div:nth-child(5){
    background-color: rgb(255, 217, 135);
}

section div:nth-child(6){
    background-color: rgb(73, 100, 100);

}

section div:nth-child(7){
    background-color: rgb(247, 180, 254);
}

section div:nth-child(8){
    background-color: rgb(0, 255, 157);
}

section div:nth-child(9){
    background-color: rgb(232, 255, 173);
}

section div:nth-child(10){
    background-color: rgb(66, 51, 83);
}