/* 

/* 
Position types :

static - This is default
relative
fixed
absolute
sticky */


*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
/* 
.box{
    min-height: 300px;
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.box:first-child{
    
    background-color: red;
}

.box:nth-child(2){
    position: relative;
    background-color: blue;
    
    left: 30%;
}

.box:nth-child(3){
    position:fixed;
    position: sticky;
    bottom: 0px;
    top:0px;
    background-color: yellow;
    color: red;
}

.box:nth-child(4){
    background-color: rgb(0, 255, 255);
    color: rgb(14, 47, 0);
}

.box:nth-child(5){
    background-color: rgb(255, 0, 238);
    color: rgb(0, 0, 0);
} */



body{
    padding: 20px;
}
section{
    width: 100%;
    padding: 10px;
    min-height: 650px;
    border: 1px solid;
    position:relative;
}

section .box{
    position:absolute;
    left:  50%;
    top: 50%;
    width: 200px;
    min-height: 200px;
    border: 1px solid;
}