*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/*OVERALL DIV USING GRID WITH ALIGNED BY AREAS*/
section{
    min-height: 735px;
    padding: 30px;
    display: grid;
    grid-template-areas: 'head menu menu menu'
    'hero hero hero hero'
    'hero hero hero hero'
    'hero hero hero hero'
    'hero hero hero hero'
    'hero hero hero hero'
    'main main main image'
    'main main main image'
    'main main main extra'
    'main main main extra'
    'banner banner banner banner'
    'banner banner banner banner';

    width: 100%;
    /* justify-content: center; */

}

section div{
    color: white;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
}

section div:nth-child(1){
    background-color: black;
    grid-area:head;
}

section div:nth-child(2){
    background-color: rgb(255, 50, 50);
    grid-area: menu;
}

section div:nth-child(3){
    background-color: rgb(63, 150, 255);
    grid-area: hero;
}

section div:nth-child(4){
    background-color: rgb(22, 23, 43);
    grid-area: main;
}

section div:nth-child(5){
    background-color: rgb(245, 234, 82);
    grid-area: banner;
    color: black;

}

section div:nth-child(6){
    background-color: rgb(0, 255, 191);
    color: black;
    grid-area: extra;
}

section div:nth-child(7){
    background-color: rgb(156, 255, 212);
    color: black;
    grid-area: image;
}

/*FOR MOBILE VIEW*/
@media only screen and (min-width:300px) and (max-width:600px) {

    section{
        grid-template-areas: 'head '
        'menu'
        'hero'
        'hero' 
        'hero'
        'main'
        'main'
        'main'
        'banner'
        'banner'
        'extra'
        'extra'
        'image'
        'image';
        

    }
    
}

/*FOR TABLET VIEW*/
@media only screen and (min-width:600px) and (max-width:900px) {

    section{
        grid-template-areas: 'head head head head head head'
        'hero hero hero hero hero hero'
        'hero hero hero hero hero hero' 
        'hero hero hero hero hero hero'
        'menu main main main main main'
        'menu main main main main main'
        'menu main main main main main'
        'menu banner banner banner banner banner'
        'menu banner banner banner banner banner'
        'menu extra extra extra extra image '
        'menu extra extra extra extra image ';
        
        

    }
    
}