*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
display:flex;
justify-content:center;
font-size:50px;
align-items:center    
}
img{
    
    height:80px;
    width:80px;
}

article{
    position:absolute;
    box-shadow:5px 5px 10px silver;
    width:95%;
    padding:40px 50px ;
    border-radius:120px 20px 120px 20px;
    opacity:0;
    line-height: 1.8;
    background-image:linear-gradient(to left , #fbc9c9 , #8686ff30 , #ab35ab75 );
    animation-name:box;
    animation-duration:3s;
    animation-delay:1.2s;
    transition:all 1s;
    animation-fill-mode:forwards;
}

section{
    position:relative;
    height:100vh;
    background-color:#ddecff;
    display:flex;
    justify-content:center;
    align-items:center;
}

p{
    font-size: 20px;
    padding: 30px 10px;
    text-align: justify;
    font-weight: bold;
}

.icon img{
    height:200px;
    width:200px;
    animation-name:robo;
    animation-duration:2s;
    transition:all 1s;    
    animation-fill-mode:forwards;
}

@keyframes robo{
    from{
        opacity:0.8;
        transform:scale(1);
    }
    to{
        transform:scale(4);
        opacity:0;
    }
    }

@keyframes box{
    from{
        opacity:0;
        transform:scale(0.2);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}


