@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Coiny&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.overall{
    height:100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #c78bff;
    
    
}
.box{
    animation-name:hidden;
    display: flex;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    font-family: "Rubik 80s Fade", system-ui;
    gap:25px;
    transition:all 1s;
}
h1{
    font-size: 150px;
    transition: all 12s;

    
}
.h1{
    animation-name:h1;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-delay:1s;
    
    
}
@keyframes h1{
    0%{
        transform: scale(3);
        color:brown;
    }
}
.h2{
    animation-name: h2; 
    animation-duration:1s;
    animation-iteration-count:1;
    animation-delay:1.5s;

}
@keyframes h2{
    20%{
        transform: scale(3);
        color:blueviolet;
    }
}
.h3{
    animation-name: h3; 
    animation-duration:1s;
    animation-iteration-count:1;
    animation-delay: 2s;

}
@keyframes h3{
    50%{
        transform: scale(3);
        color:crimson
    }
}
.h4{
    animation-name: h4; 
    animation-duration:1s;
    animation-iteration-count:1;
    animation-delay:2.5s;

}
@keyframes h4{
    75%{
        transform: scale(3);
        color:green
    }
}
.h5{
    animation-name: h5; 
    animation-duration:1s;
    animation-iteration-count:1;
    animation-delay:3s;
    transition: all 0.6;

}
@keyframes h5{
    100%{
        transform: scale(3);
        color:tomato;
        visibility: hidden;
    }
}
.h6{
    animation-name: h6;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: both;
    position:absolute;
    font-size: 80px;
    animation-delay:4s;
    /* background-image:linear-gradient(to right , blue , green , yellow); */
    justify-self: center;
}

@keyframes h6 {
    50%{
        transform: scale(5);
    }
    100%{
        
    }
}



@keyframes hidden{
from{
    visibility:visible;
}
to{
    visibility:hidden;
} 
    
}
.box2{
    animation-name:h7;
    position:fixed;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    animation-duration:5s;
    animation-delay:5.5s;
    animation-fill-mode: backwards;
    transition:all 1s;
}

@keyframes h7{
    0%{
        visibility:hidden;
        transform: scale(1.7);
    }
    100%{
        transform: scale(1);
    }

}