*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color:rgb(240, 167, 255);
}

section{
    min-height: 690px;
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 25px;
}

section div{
    width: 20%;
    padding: 40px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

main{
    display: flex;
    gap: 15px;
    flex-direction: column;
    line-height: 1.5;
    align-items: center;
    text-align: center;
}

article{
    width: 100%;
    font-size: 25px;
}

@media only screen and (min-width:300px) and (max-width:600px) {

    section{
        flex-direction:column;
    }

    section div{
        min-width: 100%;
    }

}

@media only screen and (min-width:600px) and (max-width:980px) {

    section{
        flex-direction:column;
    }

    section div{
        min-width: 100%;
        flex-direction: row;
    }

}

@media only screen and (min-width:980px) and (max-width:1320px) {

    section{
        flex-direction: row;
        flex-flow: column;   
    }


    section div{
        min-width: 100%;
        
    }
    



}