*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


section{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main{
    width: 100%;
    display: flex;
    padding: 65px;
    flex-direction: column;
    gap:20px;
    color: white;
    background-color: rgb(49, 49, 83);
    align-items: center;
}
main h1{
    color: rgb(200, 73, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}

main p{
    width:60%;
    line-height: 1.4;

}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


.icon i{
    height: 40px;
    display: flex;
    justify-content: center;
    background-color:rgb(49, 49, 83) ;
    align-items: center;
    font-size: 20px;
    width: 40px;
    border:2px solid goldenrod;
    border-radius:50%;

}

article{
    background-color: rgb(6, 5, 17);
    padding: 60px;
    display: flex;
    width: 100%;
    color:white;
    justify-content: space-between;
}

article .right-container{
    width: 50%;
    border: 1px solid;
}

article .left-container{
    width: 50%;
    border: 1px solid;
}