/*for provides a basic kickstart we use universak selector*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Style for an overall div*/
.overall_container{
    width: 100%;
    height: 735px;
    border: 1px solid black;
    background-color: #f0f0f0;
}


.top_container{
    width: 100%;
    font-size: 12px;
    color: white;
    padding:25px;
    background-color: rgb(71, 71, 247);

}

/* using flex and gap to overcome the issue of using float and unwanted margin property*/
.middle_container{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.middle_container img{
    width:350px;
    height: 350px;
    border-radius: 60%;
}

.middle_container .inner_container{
    
    padding:20px 50px 30px 45px;
    width: 550px;
    background-color:palegreen;
    border-radius: 0px 12px 14px 65px;
}

.inner_container h2{
    margin:8px 0px 6px 0px;
}