* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

container {
    height: 100vh;
    padding:20px;

}

nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(162, 247, 240), rgb(255, 207, 131));
}

nav h1 {
    font-size:55px;
    display: inline;
    letter-spacing:5px;
    padding:20px;
    text-shadow: 2px 0px black;
}

section {

    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, rgb(162, 247, 240), rgb(255, 207, 131));
    gap: 20px 50px;
}

.boxes {
    height: 276px;
    box-shadow: 3px 3px 10px gray;
    min-width: 480px;
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    background-color: white;
    justify-content: center;
}

.boxes .aside {
    
border-right: 15px double red;
    width: 240px;
    height: 100%;
    left: 0;
}

.aside img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    filter: brightness(80%);
}

article {


text-align: center;

width: 348px;

display: flex;

justify-content: center;

align-items: center;

flex-direction: column;

gap: 25px;

padding: 0px 20px;
}

article p {
    /* width: 300px; */
}

.heading h2{
    font-size: 40px;
}

.button {
    min-width: 204px;
    justify-content: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.heading{
    min-width: 200px;
}

.button button {
    border-radius: 5px;
    padding: 8px;
    min-width: 125px;
    color: white;
    border: 0px;
    font-weight: bold;
}

.button button:nth-child(1) {
    background-color: rgb(1, 115, 255);
}


.button button:nth-child(2) {
    background-color: rgb(0, 0, 0);
}


.button button:nth-child(3) {
    background-color: rgb(255, 60, 60);
}

button p {
    display: inline;
}


.button button:nth-child(4) {
    background-color: rgb(35, 0, 152);
}




@media only screen and (min-width:1250px) and (max-width:1350px) {

    .boxes{
        height:350px
    }
    
     .button{
        flex-direction: column;
     }


}



/* @media only screen and (min-width:700px) and (max-width:1130px) {


    section{
        gap:30px;
    }

    .boxes{
        min-width: 330px;
        flex-direction: column;
    }



    .boxes .aside{
        min-width: 300px;
        border: none;
        height: 300px;
    }
} */

@media only screen and (min-width:800px) and (max-width:1250px) {

    article{
        min-width: 426px;
    }

    .boxes{
        min-width: 600px;
        height: 300px;
        justify-content: space-evenly;
        align-items: center;
    }

}






@media only screen and (min-width:500px) and (max-width:800px) {

    section{
        
    }
    .boxes{

        position:static;
        height: 550px;
        min-width: 200px;
        flex-direction:column;
        align-items:center;
    }

    .boxes .aside{
        border-bottom: 10px double red;
        min-height:10px;
        width:300px;
        border-right: none;
    }

    article{
        padding-bottom:20px;
        width:300px;
    }

    .button{
        flex-direction:row;
        width:400px;
    }
    

}


@media only screen and (min-width:300px) and (max-width:501px) {


    .boxes{
        position:relative;
        height: 450px;
        border-radius:15px;
        min-width: 300px;
        flex-direction:column;
        align-items:center;
    }

    .boxes .aside{
        border:none;
        min-height:10px;
        
        border-radius:15px;
        position:relative;

        width: 300px;
        height:100%;
        border-right: none;
    }

    .aside img{
        
        border-radius:15px;
    }

    article .none{
        display:none;
    }

    article{
        padding:0px;
        position:absolute;
        color:#f6ff00;
        z-index:4;
        background-color:rgb(255,255,255,0.2);
        bottom:20px;
        border-radius:15px;
        width:280px;
        gap: 8px;
        padding-bottom: 10px;
    }

    article p:nth-child(1){
        display:none;
    }

    .button button{
        border-radius: 10px;
        min-width:50px;
        padding:15px;
    }

    i{
        font-size:20px;
    }

    nav h1{
        font-size:40px;
        word-space:2px;
    }
}



