*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    border: 1px solid;
    box-shadow: 4px 4px 10px gray;
    font-size: 40px;
    width: 200px;
    color: black;
    transition: all 1s;
    transform: rotateX(30deg);
}

.box:hover{
    /* transform: translate(300% , 20%) rotate(360deg); */
    transform: scale(-5);
}