*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.backgd{
    background-image: linear-gradient(to right , rgb(156, 156, 241) , rgb(255, 255, 221));
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;
}
.box{
    width: 535px;
    height: 325px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px;
    display: flex;
    border-radius:10px;
    transition:all 1s;
    overflow:hidden;
}
.left{
    width:30%;
    background-color: orange;
    height:100%;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
}
.left button{
    border:none;
    border-radius: 30px;
    padding:5px 10px;
    background-color: rgba(120, 88, 30, 0.495);
}
img{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:3px solid rgb(114, 96, 63);
}
.right{
    width:70%;
    height:100%;
    display: flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    gap:35px;
    padding:20px 10px;
    transition: all 1s;
    overflow:hidden;
}
.right2{
    /* width:70%; */
    /* height:100%; */
    /* display:none; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position:relative; */
    gap:30px;
    /* padding:20px; */
    /* color:white; */
    /* transition:all 1s; */
}
.right2 h1{
    text-align: center;
}
.new{
    
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    transition:all 1s;
    
}
.lr{
    text-align: end;
}
.b2{
    display: flex;
    justify-content: space-evenly;
    margin-top:90px;
}
.dd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.left1{
    transition:all 1s;
    background-color: green;
}
.left1 img{
    border: 3px solid rgba(63, 92, 63, 0.806);
}
.right0{
    background-color: green;
    transition:all 1s;
}
.move{
    text-align: end;
    bottom:30px;
    right:20px;
    position:absolute
}
.box:hover .left{
    width:100%;
    transition:all 1s;
    

}


.box1:hover{

}



