*{
    margin:0px;
    box-sizing: border-box;
}

body{
    
    background-color: rgb(255, 127, 127);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overall{
    width:800px;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-wrap:wrap
}
form{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;  
    padding:15px 
}

.inp{
    height:15%;
}
/* ----------------input style------------------- */
br+input{
    padding:10px;
    width:100%;
    outline:none;
    border:none;
    border-bottom:1px solid black ;
}
/* ---------------------------text area--------------------------- */
.message{
    height:100px;
}

textarea{
    height:75px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline:none
}
/* ------------------------check box--------------------- */
.term{
    display: flex;
    gap:10px;
}

button{
    padding:10px;
    border-radius: 20px;
    background-color: dodgerblue;
    border: none;
    color:white
}

h1{
    padding:10px 0px;
    font-size:25px ;
}

span{
    color:dodgerblue
}
/* -----------------------info box------------------------ */
.infobox{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0px 20px
}
/* ---------------------content box--------------- */
.box{
    height:25%;
    display: flex;
    gap:10px;
}

.box>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:10px
}

i{
    height:100%;
    width:100%;
    font-size: 40px;
    color: red;
}


/* ------------------------------------- media query for mobile --------------------------------------- */
@media only screen and (min-width:300px) and (max-width:600px) {
    .container{
        justify-content: center;
        padding:20px;
    }

    .overall{
        width:300px;
        box-shadow: none;
    }
    .infobox{
        min-height:600px
    }

    .box{
        display: grid;
        gap:20px
    }


}

/* --------------------------------tablet screen-------------------- */

@media only screen and (min-width:600px) and (max-width:900px) {
    .overall{
        width: 600px;
        min-height:450px
    }
    .infobox{
        width:300px
    }
    form{
        width:300px
    }
}