*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
main{
    padding: 30px;
    min-height: 594px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(48, 101, 48);

} 
.circle-bg{
    height: 90px;
    width: 90px;
    background-color: rgb(170, 236, 170);
    border-radius: 50%;
    display: flex;
    position: absolute;
    top:-47.5px;
    justify-content: center;
    align-items: center;
    
}
i{
  
    color: rgb(37, 36, 36);
    font-size: 40px;
}

h3{
    color:rgb(46, 46, 46);
}

.content{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    gap: 10px;
    position: absolute;
    bottom: 40px;
}

section{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
     display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    position: relative;
    min-height: 200px;
    gap: 20px;
    border: 2px solid green;
    box-shadow: 4px 4px 8px green;
    border-radius: 20px;
}


@media only screen and (max-width:1020px){
    .box{
        margin-top: 60px;
    }
}