* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
}

.overall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/15/31/man-1853545_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 735px;
    width: 100%;
}



/* Nav Bar style*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    color: #00ff00;
}

.left_align {
    display: flex;
    align-items: center;
    gap: 45px;
}

.menu {
    display: flex;
    gap: 60px;
}

.menu div {
    font-weight: bold;
}

/* Search Box */
.search_box {
    display: flex;
}


input,
button {
    border: none;
    outline: none;
}

.search_box input {
    padding: 6px 10px;
    border: 2px solid #00ff00; ;
    border-radius: 3px 0px 0px 3px;
    color: white;
    background-color: transparent;
}

.search_box button {
    background-color: #00ff00;
    padding: 6px 12px;
    border: 2px solid #00ff00; ;
    border-radius: 0px 3px 3px 0px;

}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 100%;
}


.text_content {
   width: 50%;
}

.text_content h1 {
    font-size: 42px;
    line-height: 1.3;
}

.text_content span {
    color: #00ff00;
}

.text_content p {
    margin: 20px 0;
    color: #dcdcdc;
}

.text_content button {
    background-color: #00ff00;
    color: black;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h3 {
    background-color: rgb(0, 0, 0);
    color: #00ff00;
    padding: 8px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}


form input {
    margin: 10px 0;
    padding: 8px;
    border-bottom: 2px solid #00ff00;
    background: transparent;
    color: rgb(0, 0, 0);
}

form button {
    background-color: #00ff00;
    color: rgb(255, 255, 255);
    padding: 8px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 7px;

}


form p {
    font-size: 13px;
    margin: 8px 0;
}

.signup {
    color: #00ff00;

}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social i {
    background-color: white;
    color: black;
    font-size: 18px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}