*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 255, 138);
}

.container{
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    position: relative;
}

.left{
    box-shadow: 5px 5px 8px gray;
    position: absolute;
    height: 80%;
    width: 290px;
    border: 1px solid;
    left: -50px;
    border-radius: 15px;
    background-color: white;
}

.image{
    border-radius:15px 15px 0px 0px;
    height: 82%;
    display: flex;
    align-items:center;
    border: 1px solid black;
    background-color: greenyellow;
    position: relative;
}

.boxes{
    padding: 10px 15px;
    height: 18%;
    border: 1px solid;
    justify-content: center;
    display: flex;
    gap: 8px;
    border-radius:0px 0px 15px 15px;
}

.box{
    height: 60px;
    min-width: 60px;
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
}

.image_fit{
    height: 300px;
    width: 320px;
    position: absolute;
    left: -90px;
}

.img_mini{
    height: 100%;
    width: 100%;
}

.icon{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

.right{
    z-index: 999;
    position: fixed;
}