*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* body alignment */
body{
    background-color:lightgray;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* overall main div */
.main-box{
    width:55%;
    height:725px;
    background-color:lightgray;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px 50px 50px;
    gap:15px;
}

.main-box h1{
    font-size:42px;
    color:rgb(5,5,112);
}

.about-text{
    width:70%;
    text-align:center;
    font-size:14px;
}

.main-box p a{
    text-decoration:underline;
}

.profile-box{
    width:100%;
    height:70%;
    display:flex;
    gap:0;
}

.profile-left{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
    padding:20px;
    background-color:purple;
}

.profile-left img{
    height:150px;
    width:150px;
    border-radius:50%;
}

.profile-left p{
    font-size:30px;
    color:white;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:80%;
}

.profile-left button{
    padding:8px 20px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    width:50%;
}

.profile-right{
    width:55%;
    height:100%;
    gap:20px;
    display:flex;
    flex-direction:column;
    padding:0 20px;
}

.profile-right i{
    font-size:40px;
}

.profile-right p{
    text-decoration:underline;
}

.upper-row{
    display:flex;
    height:50%;
    width:100%;
    gap:20px;
}

.card{
    width:50%;
    height:100%;
    padding:31px 10px;
    display:flex;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    flex-direction:column;
    gap:15px;
    background-color:white;
}

.lower-row{
    display:flex;
    height:50%;
    width:100%;
    gap:20px;
}

.card-navy,
.card-yellow{
    width:100%;
    height:100%;
    padding:40px 10px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
    gap:15px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color:white;
}

.card-orange{
    border-bottom:10px solid orangered;
}
.card-orange i{
    color:orangered;
}

.card-aqua{
    border-bottom:10px solid aqua;
}
.card-aqua i{
    color:aqua;
}

.card-navy{
    border-bottom:10px solid blue;
}
.card-navy i{
    color:blue;
}

.card-yellow{
    border-bottom:10px solid yellow;
}
.card-yellow i{
    color:yellow;
}
