*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:3170px;
    width:100%;
}
.header{
    height:70px;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding:10px;
}

.navlinks{
    display:flex;
    gap:20px;
    align-items: center;
}
.header img{
    height:15px;
    width:20px;
}

.header i{
    color: orangered;
}

.hero{
    height:500px;
    width:100%;
    background-image:url(./landscape-8336550_1280.jpg);
    background-size:100%;
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    color:white;
}

.click{
    display: flex;
    gap: 10px;
}

.hero h1{
    font-size: 50px;
}

.button-primary{
    padding:10px 25px;
    background-color:orangered;
    color: antiquewhite;
    font-weight: bold;
    border:none;
}
.button-outline{
    background-color:transparent;
    padding:10px 25px;
    color: white;
    font-weight: bold;
    border:1px solid rgb(255, 255, 255);
}
.services{
    height:300px;
    width:100%;
    display:flex;
    justify-content:center;
}
.service-box{
    width:60%;
    height:100%;
    display:flex;
    gap:20px;
}
.service-box i{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:orangered;
    padding-top:15px;
    font-size:19px;
}
.seo,
.restyle,
.optimize{
    width:33.3%;
    height:100%;
    display:flex;
    gap:20px;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    padding-top:30px;
}
.seo p,
.restyle p,
.optimize p{
    text-align:center;
}

.seo i , .restyle i , .optimize i {
    color: white;
}


.creation-section{
    height:400px;
    width:100%;
    display:flex;
    justify-content:center; 
    gap:20px;
    padding:30px 0;
    background-color:rgba(173, 173, 170, 0.384); 
}
.creation-content{
    width:60%;
    height:100%;
    display:flex;
}
.creation-content img{
    width:50%;
    height:100%;
}
.textbox{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    gap:30px;
    padding:30px 15px;
}
.textbox h2{
    width:60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textbox button{
    width:30%;
    padding:10px;
    background-color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border:none;
}
.ecommerce-section{
    height:400px;
    width:100%;
    display:flex;
    justify-content:center; 
    gap:20px;
    padding:30px 0;
}
.ecommerce-content{
    width:60%;
    height:100%;
    display:flex;
}
.ecommerce-text{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    gap:30px;
    padding:30px 15px;
}
.ecommerce-text h2{
    width:50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ecommerce-text button{
    width:30%;
    padding:10px;
    background-color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border:none;
}
.ecommerce-content img{
    width:50%;
    height:100%;
}
.update-section{
    height:400px;
    width:100%;
    display:flex;
    justify-content:center; 
    gap:20px;
    padding:30px 0;
    background-color:black;
}
.update-content{
    width:60%;
    height:100%;
    display:flex;
}
.update-content img{
    width:50%;
    height:100%;
}
.update-text{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    gap:30px;
    padding:30px 15px;
    color:white;
}
.update-text h2{
    width:70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.update-text button{
    width:30%;
    padding:10px;
    background-color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border:none;
}
.projects{
    height:500px;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center; 
    gap:20px;
    padding:30px 0;
}

.projects h3{
    font-size: 28px;
}

.project-gallery{
    width:60%;
    height:80%;
    display:flex;
    justify-content:space-between;
}
.project-gallery img{
    width:49%;
    height:100%;
}
.project-links{
    display:flex;
    justify-content:space-around;
    width:60%;
}
.project-links a{
    color:rgb(78, 13, 167);
    margin-left:20px;
}
.reviews-section{
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(119,136,153,0.454);
}
.reviews-content{
    width:60%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:50px;
    background-color:transparent;
}
.review-slider{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.review-slider p{
    width:80%;
    font-size:14px;
    text-align: center;
    line-height: 2.4;
}

.reviews-content h3{
    font-size: 30px;
}
.review-text{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:50px;
    width:100%;
    gap:20px;
    color:rgb(75,72,72);
}
.center-text{
    text-align:center;
}
.radio-group{
    display:flex;
    justify-content:center;
    align-items:center;
}
.section{
    width:100%;
    height:300px;
    background-color:rgba(0, 0, 0, 0.852);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.content{
    width:60%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.section h1{
    width:60%;
    text-align: center;
}
.content button{
    width:15%;
    padding:10px;
    background-color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border:none;
    border-radius: 3px;
}

.footer {
    height: 10%;
    width: 100%;
    font-size: 13px;
    padding:5px 300px;
    background-color: black;
}

.header p:hover{
    border-bottom: 2px solid orangered;
}