*{
  padding: 0px;
  margin:0px;  
  box-sizing: border-box;
}


section{
    overflow-x:hidden;
    height: 100vh;
}


nav{
    width: 100%;
    display: flex;
    padding:10px 30px;
    justify-content: space-between;
    background-color:#184343;
    align-content:center;
    color:white;
    position:relative;
}

.left{
    
    position:relative;
    align-items:center;
    display: flex;
    font-size:18opx;
    gap: 15px;
    animation-duration:3s;
    animation-name:left;
    transition:all 2s;
}

.right{
    color:orangered;
    position:relative;
    animation-name:right;
    animation-duration:2s;
    transition:all 2s;
}

.top , .bottom{
    line-height:2;
    position: relative;
    text-align:justify;
    padding:20px;
    animation-duration:2s;
    transition:all 5s;
}

.top{
    animation-name:top;
}

.bottom{
    animation-name:bottom;
}

@keyframes top{
    from{
    top:0px;
    left:-1700px;
    }
    to{
         left:0;
        right:0;
    }
}

@keyframes bottom{
    from{
    top:0px;
    right:-1700px;
    }
    to{
         
        right:0;
    }
}

@keyframes right{
    from{
        top:-100px;
    }

    to{
        top:0;
    }
}

@keyframes left{
    from{
        bottom:-100px;
    }

    to{
        bottom:0;
    }
}

h3:hover{
    background-color:orangered;
    border-radius:4px;
    transform:sclae(1.2);
    padding:5px;
}

@media only screen and (max-width:720px){
    .left{
        display:none;
    }

    .top , .bottom{
        overflow:auto;
    }
}