@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Bitcount+Grid+Single:wght@100..900&family=Noto+Sans+Tamil:wght@100..900&family=Share+Tech&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Bitcount+Grid+Single:wght@100..900&family=Noto+Sans+Tamil:wght@100..900&family=Share+Tech&family=WDXL+Lubrifont+SC&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 173, 251);
    padding: 0px 70px 30px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
}

section{
    width: 100%;
    min-height: 520px;
    display:grid;
    justify-self: center;
    grid-template-columns: auto auto auto auto;
    gap:30px 20px;

    
}

section div{
    min-width: 100%;
    padding: 25px;
    border: 1px dashed;
    background-color: aliceblue;
    border-radius: 15px ;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;

}

article{
    min-width: 100%;
    display: grid;
    align-items: center;
    gap: 10px;
}

article img{
    width: 172px;
    height: 120px;
    justify-self: center;
    align-self: flex-end;
}

article h4{
    justify-self: end;
    padding: 8px;
    font-size: 10px;
    border-radius: 10px;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 700;
    background-color: yellow;
    color: rgb(0, 0, 0);
}

h3 button{
    border-radius: 0px;
    padding: 3px;
    border:none;
    background-color: transparent;
    font-size: 18px;
}

h3 button:hover{
    border: none;
    border-radius: 0px;
    font-size: 18px;
    padding: 3px;
    color: black;
    background-color: transparent;
}

main{
    min-width: 100%;
    display: grid;
    gap: 10px;
    font-family: "Bitcount Grid Single", system-ui;
}

main p{
    font-family: "Share Tech", sans-serif;
}

p span{
    font-weight: bold;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: bold;
}

main h2{
    margin-top: 10px;
}

h3{
    justify-self: start;
    font-size: 16px;
    padding: 7.5px;
    border-radius: 7px;
    background-color: rgba(128, 128, 128, 0.184);
    text-align: center;
}

.btn{
    display: grid;
    padding: 0px;
    grid-template-columns: auto auto;
    gap: 10px;
    border: none;
    font-family: "WDXL Lubrifont SC", sans-serif;;

}

button{
    background-color: rgb(255, 242, 217);
    color: orangered;
    font-weight: bold;
    padding: 10px 5px;
    border: 2px solid orangered; 
    border-radius: 7px 0px 7px 0px;
}

button i{
    color: crimson;
}

button:hover{
    background-color: rgb(255, 166, 0);
    padding: 5px;
    border-radius: 0px 7px 0px 7px;
    color: aliceblue;
}

article:hover{
    border-radius: 20px;
    background-image:url(https://cdn.pixabay.com/photo/2015/01/21/13/20/buy-now-606685_1280.png);
    background-size: 90% 60%;
    background-repeat: no-repeat;
    background-position: center;

}




@media only screen and (min-width:300px) and (max-width:690px) {
    h1{
        font-size: 24px;
    }
    section{
        grid-template-columns: auto;
    }
}

@media only screen and (min-width:690px) and (max-width:900px) {

    body{
        padding: 40px;
    }

    section{
        grid-template-columns: auto auto ;
    }
}

@media only screen and (min-width:300px) and (max-width:445px) {
    body{
        padding: 20px;
    }
    h1{
        font-size: 20px;
    }

}

@media only screen and (min-width:900px) and (max-width:1267px) {
    body{
        padding: 20px;
    }

    section{
        grid-template-columns: auto auto auto;
    }

}