*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    padding: 10px;
    background-color: #3e3e3e;
}

section{
    display:flex;
    flex-direction:column;
    gap:10px;
    height: 90vh;
    position: relative;
}
.box{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* align-self: end; */
    position: relative;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid black;
    animation: name;
    animation-duration:5s;
    transition:all 2s;
}

.box:first-child{
    
    animation-fill-mode:forwards;
    animation-name:move_1;
    animation-timing-function:ease;
    background:crimson;
}

.box:nth-child(2){
    background:#9fd1ff;
    animation-fill-mode:forwards;
    animation-name:move_2;
    animation-timing-function:linear;
}

.box:nth-child(3){
    background:#b0ffa6;
    animation-fill-mode:forwards;
    animation-name:move_3;
    animation-timing-function:ease-in;
}

.box:nth-child(4){
    background:#ede014;
    animation-fill-mode:forwards;
    animation-name:move_4;
    animation-timing-function:ease-out;
}

.box:nth-child(5){
    background:#ed8714;
    animation-fill-mode:forwards;
    animation-name:move_5;
    animation-timing-function:ease-in-out;
}



@keyframes move_1{

    0%{
        top:0;
        left:0px;
    }

    50%{
        left:45%;
        top:580px;
    }

    100%{
        top:0;
        left:90%;
    }
    
}

@keyframes move_2{

    0%{
        top:0;
        left:0px;
    }

    50%{
        left:45%;
        top:480px;
    }

    100%{
        top:0;
        left:90%;
    }
    
}

@keyframes move_3{

    0%{
        top:0;
        left:0px;
    }

    50%{
        left:45%;
        top:350px;
    }

    100%{
        top:0;
        left:90%;
    }
    
}

@keyframes move_4{

    0%{
        top:0;
        left:0px;
    }

    50%{
        left:45%;
        top:290px;
    }

    100%{
        top:0;
        left:90%;
    }
    
}

@keyframes move_5{

    0%{
        top:0;
        left:0px;
    }

    50%{
        left:45%;
        top:210px;
    }

    100%{
        top:0;
        left:90%;
    }
    
}