*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    height: 735px;
    width: 93%;
    background-color: rgb(152, 81, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 7%;
    gap:30px;
    width: 70%;
}


article{
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.content{
    width: 70%;
    line-height: 1.6;

}

button{
    width:180px;
    padding: 9px;
    font-size:14px;
    border-radius: 4px;
    border:none;
}

section .img_content{
    height: 80%;
    width: 25%;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
}

.inner_container{
    display: flex;    
    align-items: center;
    gap: 40px;

}

.line{
    height: 200px ;
    width: 1px;
    background-color: white;
}

.icon{
    color:goldenrod;
}