* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blueviolet;
}

.ball {
    position: relative;
    display: flex;
    background-color: red;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    transition: all 0.8s;
    animation-name: bounce;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}

/* .back_shadow {
    background-color: #000000;
    opacity: 0.3;
    position: relative;
    animation-name: back;
    box-shadow: 0px 0px 10px 55px #000000;
    height: 50px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 1.8s;
    width: 50px;
    left: 5%;
    top: 30px;
    bottom: 80px;
    animation-fill-mode: both;
    transition: all 0.1s;
} */


/* @keyframes back {
    0% {
        box-shadow: 0px 0px 5px 5px;
        transform: scale(1);

    }


    50% {
        box-shadow:  0px 0px 10px 55px ;
        transform: scale(1.2);
    }

    100%{
        box-shadow:  0px 0px 5px 5px;
        transform: scale(1);

    }
} */

    @keyframes bounce {

        0% {
            top: 0px;
            box-shadow: 0px 5px 30px;
            transform: scale(1);

        }

        50% {
            top: -80px;
            box-shadow: 0px 20px 40px;
            transform: scale(1.5);
        }

        100% {
            top: 0px;
            transform: scale(1);
            box-shadow: 0px 5px 30px;
        }
    }