*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

section{
    transform-style: preserve-3d;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: spin;
    animation-duration: 5s;
    transition: all 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cube{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 1px solid;
}


.top{
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotateX(90deg) translateZ(150px);
}

.bottom{
    background-color: rgba(30, 30, 186, 0.6);
    transform: rotateX(-90deg) translateZ(150px);
}

.front{
    background-color: rgba(10, 84, 84, 0.6);
    transform: rotateX(0deg) translateZ(150px);
}

.left{
    transform: rotateY(-90deg) translateZ(150px);
    background-color: rgb(60, 255, 0,0.6);
}
.right{
    background-color: rgba(100, 148, 237, 0.6);
    transform: rotateY(90deg) translateZ(150px);
}

.back{
    
    background-color: rgba(81, 10, 84, 0.6);
    transform: rotateX(-180deg) translateZ(150px);
}


@keyframes spin{
    from{
        transform: rotateX(0deg)  rotateY(0deg);
    }

    to{
        transform: rotateX(360deg)  rotateY(360deg);
    }
}
