@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

section{
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    flex-wrap:wrap;
    gap:40px;
    
}

.left_container{
    height: 618px;
    width: 500px;
}

img{
    height:100%;
    width:100%;
}



.content_position{
    display:flex;
    align-items:center;
    position:relative;
}


.right_container{
    min-width:400px;
    display:flex;
    flex-direction:column;
    gap:50px;
}

.top{
    height:400px;
    width:300px;
    border:20px solid red;
}

.content{
    min-width: 200px;
    display:flex;
    font-family: "Stack Sans Notch", sans-serif;
    flex-direction:column;
    gap:20px;
    position:absolute;
    left: 100px;
    top: 65px;
    background-color:white;
    z-index:1;
}

.content p{
    
    font-family: "Roboto Condensed", sans-serif;
    font-size:20px;
    line-height:1.4;
} 

button{
    padding: 10px;
    font-size: 20px;
    font-weight:bold;
    align-self:center;
    position: relative;
    top: 94px;
    left: 20px;
    border:none;
    width: 134px;
    color:gray;
    font-family: "Stack Sans Notch", sans-serif;
    border-bottom:2px solid grey;
    background-color:transparent;
}

.bottom{
    min-height: 150px;
    min-width: 30px;
    justify-content: center;
    background: #8f8f8f2b;
    border:1px solid;
    display:flex;
    flex-wrap:wrap;
}

.box{
    display:flex;
    position:relative;
    padding: 0px 40px;
}

.box p:first-child{
    font-size:150px;
    color:#4c004c8a;
    opacity:0.4;
    font-family:system-ui;
}

.box p:nth-child(2){
    font-size:28px;
    font-weight:bold;
    top:95px;
    position:absolute;
    left:20px;
    color:#900090;
}