*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{ 
    height:100vh;
    display: flex;
    background-color: rgb(255, 227, 178);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    height:300px;
    position: relative;
    width:450px;
    overflow:hidden;
    box-shadow: 2px 2px 20px 4px rgba(91, 86, 86, 0.827);
    border-radius: 24px;
    transition: all 1s;

}
.container:hover .form_div{
    bottom:25px;
}

.form_div button:hover{
    color: black;
    background-image: linear-gradient(45deg ,lime , white , white , lime);
}

.container:hover{
    transform:scale(1.1);
}


.box1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    width:100%;
    color:white;
    border-radius: 25px;
     display: flex;
     background-color: rgb(155, 115, 54);
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding: 15px;
    
}
img{
    border:5px solid rgb(255, 218, 177);
    height: 150px;
    width:150px;
    border-radius: 50%;
   
}

form{
    width:70%;
    align-self:center;
    flex-direction:column;
    text-align:center;
    padding:10px;
    display:flex;
    gap:6px;
}

.form_div{
    bottom: -185px;
    position: absolute;
    height:180px;
    width:450px;
    background-color: aliceblue;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.form_div input{
    padding:8px;
}
.form_div button{
    padding:10px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    width:100px;
    align-self:center;
    transition: all 1s;
}