*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    width:100%;
    height: 735px;
    padding: 50px 180px 50px 180px;
}

.top_container{
    height: 65%;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.contact{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.icon{
    display: flex;
    gap: 20px;
}

.icon_container{
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.6;
}

.clock{
    font-size: 50px;
    color: rgb(20, 149, 106);
    margin-top:10px;
}

.icon h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
}

footer{
    width: 100%;
    height: 35%;

    padding: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
}

h3 i{
    color: orangered;
    font-size: 35px;
}


.about_us{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_us h6{
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    justify-content: center;
    margin-top: 5px;
}

.about_us p{
    font-size: 16px;
    color: grey;
}

.click{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.button-primary{
    width: 270px;
    padding:10px;
    background-color:orangered;
    color: rgb(255, 255, 255);

    font-weight: bold;
    border-radius: 28px 0px 28px 28px;
    border:none;
}
.button-outline{
    background-color:transparent;
    padding:10px;
    color: grey;
    font-weight: bold;
    border-radius: 28px;
    border:1px solid rgb(202, 190, 190);
}

.icon_footer{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.icon_footer i{
    background-color: orangered;
    color: white;
    display: flex;
    gap: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pet_title{
    display: flex;
    flex-direction: column;
    gap: 25px;

}