*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


section{
    display: flex;;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 80px;
    background-color: blueviolet;
    color: rgb(0, 26, 255);
    display: inline;
    background-image: linear-gradient(360deg,rgb(255, 255, 255), rgb(146, 255, 233),rgb(244, 255, 185));
    width: 500px;
    border-radius: 30px;
    /* transition-property: background-color , border , border-radius , width , font-size , height , text-align , flex-direction;
    transition-duration: 2s;
     */

    transition: all , 5s , 0s;

}

h1:hover{
    background-image: linear-gradient(to right red 50% , white 50% ,  red 50%);
    box-shadow: 5px 5px 10px gray;
   
}

/* h1:hover{
    background-color: rgb(30, 91, 30);
    width: 30%;
    text-align: left;
    height: 30%;
    font-size: 20px;
    align-self: center;
    border: 10px double pink;
    border-radius: 10px;
    flex-direction: column;
}    */

p{
    color:transparent;
}

p:hover{
    color: antiquewhite;
    visibility: visible;
}

