*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

section{
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap: 80px;
    padding: 30px;
}

div{
    /* border: 1px solid; */
}

.box{
    height: 600px;
    width: 450px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    box-shadow: 0px 0px 10px 2px black;
}

.shape{
    height: 167px;
    display: flex;
    background-color:orangered;
    width:100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 35%, 90% 35%, 0% 100%);
    height: 113px;
    overflow:hidden;
}


.content{
    text-align:center;
    font-size:19px;
    line-height:1.5;
}

img{
    height:150px;
    border:3px solid white;
    width:150px;
    top: -85px;
    border-radius:50%;
    position:relative;
}

.underline{
    width:45px;
    height:3px;
    border-radius:10px;
    background-color:black;
}

article{
    padding:0px 30px;
    display:flex;
    flex-direction:column;
    min-height:120px;
    position:relative;
    top: -65px;
    align-items:center;
    gap: 25px;
}

.icon_1{
    font-size:40px;
    display:flex;
    width:100%;
    position: relative;
    top: -25px;
    justify-content:space-evenly;
}

footer{
    position:absolute;
    background-color:#7e7eff;
    bottom:0;
    height: 70px;
    width:100%;
    justify-content:center;
    display:flex;
}

.footer_icon{
    gap:20px;
    color:white;
    display:flex;
    padding:10px;
    align-items:center;
    justify-content:space-evenly;
    font-size: 30px;
    width:100%;
}

.triangle{
    position:absolute;
    background-color:#7e7eff;
    top: -42%;
    height: 30px;
    width:60px;
    z-index: 99;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.shape_left{
    height: 113px;
    width:100%;
    background-color:#7e7eff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
}

.footer_shape{
    height:110px;
    position:absolute;
    bottom:0px;
    background-color:orangered;
    color:white;
    align-items:end;
    clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
}

.icon_2{
    font-size:30px;
}

.icon_2 i{
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    border:2px solid;
}


.icon_2 i:first-child:hover{

    background-color:#1eff08;
    color:white;
    font-size:30px
    
}

.icon_2 i:nth-child(2):hover{

    background-color:#504fff;
    color:#ffffff;
    font-size:30px
    
}

.icon_2 i:last-child:hover{

    background-color:#ff3434;
    color:white;
    font-size:30px
    
}


.icon_1 i:first-child:hover{
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    border-radius:50%;
    align-items:center;
    background-color:#1eff08;
    color:white;
    font-size:30px
    
}

.icon_1 i:nth-child(2):hover{
    height:60px;
    border-radius:50%;
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#504fff;
    color:#ffffff;
    font-size:30px
    
}

.icon_1 i:last-child:hover{
    height:60px;
    width:60px;
    display:flex;
    border-radius:50%;
    justify-content:center;
    align-items:center;
    background-color:#ff3434;
    color:white;
    font-size:30px
    
}






