*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: grey;
    padding: 80px;
}

/*neon effect */
/* h1{
    margin-top:250px;
    font-size: 150px;
    text-align: center;
    /* text-shadow: 0px 0px 10px rgb(255, 187, 187) , 2px 2px rgba(137, 43, 226, 0.263) , 0px 0px 10px blueviolet , 2px 2px greenyellow; */
    /* text-shadow: -1px 0 white , 0 1px rgb(224, 27, 27) , 1px 0 rgb(0, 255, 38) , 0 -1px gold; }*/


div{

    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
    background-color: white;
    min-height: 300px;
}
button{
    padding: 50px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2) , 0 6px 25px 0 rgba(0,0,0,0.19);

    border-radius: 10px;
}


