*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(23, 255, 255);
    margin: 0 20px;
    font-family: Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 500px;
    box-shadow: 5px 5px 10px black;
}



.left,
.right{
    width: 100%;
}

/* Form styling */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}

.form_div{
    display: flex;
    flex-wrap: wrap;
}

.inner_content{
    width: 100%;
    padding: 10px 10px 10px 0px;
    
}

.inner_content input{
    width: 100%;
    padding: 12px 0;
    border: 0;
    border-bottom: 1px solid gray;
}

form label{
    font-weight: bold;
    color: blue;
    font-size: 18px;
}

.text_area{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(72, 70, 70);
}

/* Button */
button{
    padding: 10px;
    width: 130px;
    background-color: blue;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px blue;
    color: white;
    font-size: 15px;
}

.btn{
    padding-top: 20px;
}

/* Right Side Contact Info */
.right{
    background-color: blue;
    padding: 30px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table{
    width: 100%;
}

td{
    padding: 8px;
}



/* Tablets */
@media only screen and (min-width:600px){
    body{
        margin: 0 40px;
    }

    
    .inner_content{
        width: 48%;
    }
}


@media only screen and (min-width:1000px){
    body{
        margin: 0 70px;
    }

    .container{
        flex-direction: row;
    }

    .left{
        width: 65%;
    }

    .right{
        width: 35%;
    }

    .inner_content{
        width: 50%;
    }
}


